<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	lang=pt-br>

<head>
	<title>Cadastro de Cliente</title>
</head>

<body>
	 
	<section layout:fragment="conteudo">


		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de Cliente
				</h1>
			</div>
		</div>
		
		<div class="container-fluid">
		
<!-- 			<div class="alert  alert-danger  alert-dismissible" role="alert"> -->
<!-- 				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
<!-- 				<i class="fa  fa-exclamation-circle"></i> Já existe um produto com o nome informado. -->
<!-- 			</div> -->
		
			<form method="POST" th:object="${cliente}" class="form-vertical  js-form-loading">
				
					<!-- Nome -->
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="nome">Nome</label>
								<input id="nome" type="text" class="form-control"/>
							</div>							
						</div>
					</div>
			
					<!-- Tipo Pessoa - CPF/CNPJ -->
					<div class="row">
					
						<!-- Tipo Pessoa -->
						<div class="col-lg-4 col-sm-6 form-group">
							<div class="form-group">
								<label for="TipoPessoa">Tipo Pessoa</label>
								<div>
									<div class="radio radio-inline">
										<input type="radio" name="TipoPessoa">
										<label>Física</label>
									</div>
									<div class="radio radio-inline">
										<input type="radio" name="TipoPessoa">
										<label>Jurídica</label>
									</div>
								</div>
							</div>
						</div>
						
						<!-- CPF/CNPJ -->
						<div class="col-sm-8">
							<div class="form-group">
								<label for="cpf/cnpj">CPF/CNPJ</label>
								<input id="cpf/cnpj" type="text" class="form-control"/>
							</div>
						</div>
						
					</div>
					
					<!-- Telefone - E-mail -->
					<div class="row">
						
						<!-- Telefone -->
						<div class="col-sm-4">
							<div class="form-group">
								<label for="telefone">Telefone</label>
								<input id="telefone" type="text" class="form-control"/>
							</div>
						</div>
						
						<!-- E-mail -->
						<div class="col-sm-8">
							<div class="form-group">
								<label for="e-mail">E-mail</label>
								<input id="e-mail" type="text" class="form-control"/>
							</div>
						</div>
						
					</div>
					
					<!-- Logradouro - Número - Complemento -->
					<div class="row">
						
						<!-- Logradouro -->
						<div class="col-sm-4">
							<div class="form-group">
								<label for="logradouro">Logradouro</label>
								<input id="logradouro" type="text" class="form-control"/>
							</div>
						</div>
						
						<!-- Número -->
						<div class="col-sm-4">
							<div class="form-group">
								<label for="numero">Número</label>
								<input id="numero" type="text" class="form-control"/>
							</div>
						</div>
						
						<!-- Complemento -->
						<div class="col-sm-4">
							<div class="form-group">
								<label for="complemento">Complemento</label>
								<input id="complemento" type="text" class="form-control"/>
							</div>
						</div>
						
					</div>
					
					<!-- CEP - Estado - Cidade -->
					<div class="row">
					
						<!-- CEP -->
						<div class="col-sm-4">
							<div class="form-group">
								<label for="cep">CEP</label>
								<input id="cep" type="text" class="form-control"/>
							</div>
						</div>
						
					<!-- Estado -->	
						<div class="col-sm-4">
							<div class="form-group">
								<label for="estado">Estado</label>
								<select id="estado" class="form-control">
									<option value="">Selecione o Estado</option>
									<option value="1">Acre</option>
									<option value="2">Alagoas</option>
									<option value="3">Amapá</option>
									<option value="4">Amazonas</option>
									<option value="5">Bahia</option>
									<option value="6">Ceará</option>
									<option value="7">Distrito Federal</option>
									<option value="8">Espírito Santo</option>
									<option value="9">Goiás</option>
									<option value="10">Maranhão</option>
									<option value="11">Mato Grosso</option>
									<option value="12">Mato Grosso do Sul</option>
									<option value="13">Minas Gerais</option>
									<option value="14">Pará</option>
									<option value="15">Paraíba</option>
									<option value="16">Paraná</option>
									<option value="17">Pernambuco</option>
									<option value="18">Piauí</option>
									<option value="19">Rio de Janeiro</option>
									<option value="20">Rio Grande do Norte</option>
									<option value="21">Rio Grande do Sul</option>
									<option value="22">Rondônia</option>
									<option value="23">Roraima</option>
									<option value="24">Santa Catarina</option>
									<option value="25">São Paulo</option>
									<option value="26">Sergipe</option>
									<option value="27">Tocantins</option>
								</select>
							</div>
						</div>
					
					<!-- Cidade -->
						<div class="col-sm-4">
							<div class="form-group">
								<label for="cidade">Cidade</label>
								<select id="cidade" class="form-control">
									<option value="">Selecione a Cidade</option>
									<option value="1">Crato</option>
									<option value="2">Campina Grande</option>
								</select>
							</div>
						</div>
					
					</div>
					
					<!-- Salvar -->
					<div class="form-group">
						<button class="btn btn-primary" type="submit">Salvar</button>
					</div>
					
			</form>
		</div>
		
		<div th:replace="estiloRapido/CadastroRapidoEstilo :: modal"></div>
	</section>

</body>

</html>